/* Motivational Quote Box By Tecky AaryaN*/ 
.wrapper { background: linear-gradient(to top left, var(--linkB) -2500%, #0000 300%); border-radius: 10px; padding: 10px 15px 15px; }
.wrapper h1 { font-size: 1.5rem; }
.wrapper .content { margin: 10px 0 15px; padding-bottom: 22px; position: relative; }
.wrapper .content .quote-area { display: flex; justify-content: flex-start; gap: 10px; }
.wrapper .quote-area i { font-size: 15px; }
.wrapper .quote-area svg { width: 35px; height: 38px; flex: 0 0 35px; stroke: var(--linkC); fill: none; }
.wrapper .quote-area .quote { word-break: break-all; margin: 0; line-height: 20px; }
.wrapper .authorA { position: absolute; bottom: 0; right: 0; font-size: 11px; font-style: italic; opacity: .9; }
.wrapper .authorA span:first-child { font-family: monospace; }
.drK .wrapper .buttons { border-color: rgb(65 179 117 / 10%); }
.wrapper .buttons { border-top: 1px solid rgb(72 45 255 / 10%); }
.wrapper .buttons .features { display: flex; margin-top: 12px; align-items: center; justify-content: space-between; }
.wrapper .features ul { display: flex; padding: 0; margin: 0; gap: 10px; }
.wrapper .features ul svg { fill: #fff; }
.wrapper ul li:is(:hover, .active) svg { fill: #fff; }
.wrapper .features ul li { height: 30px; width: 30px; display: flex; cursor: pointer; list-style: none; border-radius: 50px; align-items: center; justify-content: center; background: var(--linkB); }
.wrapper ul li:is(:hover, .active) { filter: brightness(.85); transition: filter .2s; }
.wrapper .speech.active { pointer-events: none; }
.wrapper .buttons button { border: none; color: var(--linkC); background: 0 0; outline: 0; font-size: 14px; cursor: pointer; }
.wrapper .buttons button.loading { opacity: .7; pointer-events: none; }